.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}


.visor-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

.visor {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: #fff7c2;
  text-align: right;
}

.visor-container .btn-apagar {
  background-color: #ff4d4d;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

/* Teclado numérico */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  margin-bottom: 15px;
}

.grid .btn-tec {
  padding: 15px;
  font-size: 40px;
  background-color: #fff0b3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.grid .btn-ok {
  grid-column: span 1;
  background: #ADFF2F;
  font-weight: bold;
    font-size: 40px;
}

/* Formas de pagamento */
.formas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.formas button {
  padding: 10px;
  font-size: 14px;
  background-color: #fff0b3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.col {
  border: none;
  padding: 10px;
  background: #fefefe;
  border-radius: 10px;
  width: 20%;
  min-width: 200px;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.grid button,
.formas button {
  padding: 10px;
  font-size: 12px;
  background-color: #ffefc1;
  border: none;
  border-radius: 5px;
  white-space: nowrap;
}




.botoes-final {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.botoes-final button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.marcar {
  background-color: #ccc;
}

.receber {
  background-color: #8bc34a;
  color: white;
}

.cancelar {
  background-color: #f44336;
  color: white;
}


.col-selecionados{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  height: 65vh;
  width: 25%;
  border: solid 1px #000;
}


/* notas */

.col-selecionados h4{
  font-weight: 500;
}

.col-nota {
  background: #FFF59633;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px #000;
  width: 100%;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 75vh;
  box-sizing: border-box;
  justify-content: space-between;
}

h4 {
  margin: 0 auto 5px;
  font-weight: bold;
}

.containeUser {
  width: 100%;
}

.linha, .linha-valor {
  width: 100%;
  border-bottom: 1px dashed #000;
  margin: 5px 0;
}

.itens {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.itens > span {
  font-weight: bold;
  margin-bottom: 5px;
}

.produtos-valores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 0;
}

.totais {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totais-valor-titulo, .totais-valor {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.totais-valor {
  text-align: right;
}

.totais strong {
  font-weight: bold;
}

.botoes-final {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.botoes-final button {
  color: black;
  padding: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
