<div class="container">
  <!-- Coluna 1: Teclado de pagamento -->
  <div class="col pagamento">
    <p>Informe uma forma de pagamento!</p>

    <div class="visor-container">
      <input type="text" [(ngModel)]="valorAtual" readonly class="visor" />
      <button (click)="apagar()" class="btn-apagar">⌫</button>
    </div>

    <div class="grid">
      <button
        *ngFor="let btn of botoes"
        (click)="adicionarValor(btn)"
        class="btn-tec"
      >
        {{ btn }}
      </button>
      <button (click)="confirmar()" class="btn-ok">OK</button>
    </div>

    <div class="formas">
      <button (click)="selecionarTipo('Dinheiro')">1-Dinheiro</button>
      <button (click)="selecionarTipo('Crédito')">2-Crédito</button>
      <button (click)="selecionarTipo('Débito')">3-Débito</button>
      <button (click)="selecionarTipo('Pix')">4-Pix</button>
    </div>
  </div>

  <!-- Coluna 2: Tipos selecionados -->
  <div class="col-selecionados">
    <h4>TIPOS SELECIONADOS</h4>
    <ul>
      <li *ngFor="let tipo of tiposSelecionados">{{ tipo }}</li>
    </ul>
  </div>

  <!-- Coluna 3: Nota fiscal -->

  <div>
  <div class="col-nota">
    <div>
      <h4>NOTA FISCAL</h4>
      <div class="containeUser">
        <p>Atendente: Pato Donald </p>
      </div>
      <div class="linha"></div>

      <div class="itens">
        <span>Itens</span>
        <div class="linha"></div>

        <div class="produtos-valores" *ngFor="let item of itens">
          <span>{{ item.qtd }} X {{ item.nome }}</span>
          <span>R$ {{ item.valor.toFixed(2) }}</span>
        </div>
      </div>
    </div>


    <div>
      <div class="linha-valor"></div>
      <div class="totais">
        <div class="totais-valor-titulo">
          <span>Subtotal:</span>
          <span>Desconto:</span>
          <span><strong>Total:</strong></span>
        </div>
        <div class="totais-valor">
          <span>R$ {{ subtotal.toFixed(2) }}</span>
          <span>R$ {{ desconto.toFixed(2) }}</span>
          <span
            ><strong>R$ {{ total.toFixed(2) }}</strong></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="botoes-final">
    <button class="marcar" (click)="this.utilsModal.openModal('simples');">Marcar <br>
      Fiado</button>
    <button class="receber" (click)="receberValor()">Receber</button>
    <button class="cancelar" (click)="utilsModal.cancelModalConfirmation(true)">Cancelar</button>
  </div>

  <app-cadastro *ngIf="utilsModal.showModal" ></app-cadastro>
  <app-confirmation *ngIf="utilsModal.confirmationModal" ></app-confirmation>
  </div>
</div>
