.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}


.visor-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

.visor {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: #fff7c2;
  text-align: right;
}

.visor-container .btn-apagar {
  background-color: #ff4d4d;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

/* Teclado numérico */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  margin-bottom: 15px;
}

.grid .btn-tec {
  padding: 15px;
  font-size: 40px;
  background-color: #fff0b3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.grid .btn-ok {
  grid-column: span 1;
  background: #ADFF2F;
  font-weight: bold;
    font-size: 40px;
}

/* Formas de pagamento */
.formas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.formas button {
  padding: 10px;
  font-size: 14px;
  background-color: #fff0b3;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.col {
  border: none;
  padding: 10px;
  background: #fefefe;
  border-radius: 10px;
  width: 20%;
  min-width: 200px;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.grid button,
.formas button {
  padding: 10px;
  font-size: 12px;
  background-color: #ffefc1;
  border: none;
  border-radius: 5px;
  white-space: nowrap;
}




.botoes-final {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.botoes-final button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.marcar {
  background-color: #ccc;
}

.receber {
  background-color: #8bc34a;
  color: white;
}

.cancelar {
  background-color: #f44336;
  color: white;
}
