<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <button class="close-button" (click)="close()">✖</button>
      <h2>Cadastro</h2>
    </div>

    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="modal-form">
      <ng-container *ngIf="formMode === 'completo'">
        <!-- ID Produto - productCode -->
        <label>ID Produto</label>
        <input type="number" formControlName="productCode" />
        <div
          *ngIf="
            cadastroForm.get('productCode')?.touched &&
            cadastroForm.get('productCode')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('productCode')?.errors?.['required']"
            >ID Produto é obrigatório.</small
          >
        </div>

        <!-- Descrição - name > vou mudar pra nome  no formulário-->
        <label>Nome</label>
        <input type="text" formControlName="name" />
        <div
          *ngIf="
            cadastroForm.get('name')?.touched &&
            cadastroForm.get('name')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('name')?.errors?.['required']"
            >Descrição é obrigatória.</small
          >
        </div>

        <!-- Preço - unitPrice -->
        <label>Preço Unid.</label>
        <input type="text" formControlName="unitPrice" />
        <div
          *ngIf="
            cadastroForm.get('unitPrice')?.touched &&
            cadastroForm.get('unitPrice')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('unitPrice')?.errors?.['required']"
            >Preço é obrigatório.</small
          >
        </div>

         <!-- Quantidade - quantity -->
        <label>Quantidade</label>
        <input type="number" formControlName="quantity" />
        <div
          *ngIf="
            cadastroForm.get('quantity')?.touched &&
            cadastroForm.get('quantity')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('quantity')?.errors?.['required']"
            >quantity é obrigatório.</small
          >
        </div>

        <!-- Estoque Mínimo - minimumStock -->
        <label>Estoque Mínimo</label>
        <input type="number" formControlName="minimumStock" />
        <div
          *ngIf="
            cadastroForm.get('minimumStock')?.touched &&
            cadastroForm.get('minimumStock')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('minimumStock')?.errors?.['required']"
            >Estoque mínimo é obrigatório.</small
          >
        </div>

        <!-- Estoque Máximo - maximumStock-->
        <label>Estoque Máximo</label>
        <input type="number" formControlName="maximumStock" />
        <div
          *ngIf="
            cadastroForm.get('maximumStock')?.touched &&
            cadastroForm.get('maximumStock')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('maximumStock')?.errors?.['required']"
            >Estoque máximo é obrigatório.</small
          >
        </div>
      </ng-container>

      <!-- Cadastro simples -->
      <ng-container *ngIf="formMode === 'simples'">
        <label>Nome Completo</label>
        <input type="text" formControlName="name" />
        <div
          *ngIf="
            cadastroForm.get('name')?.touched &&
            cadastroForm.get('name')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('name')?.errors?.['required']"
            >O nome é obrigatório.</small
          >
        </div>

        <label>Telefone</label>
        <input type="text" mask="(00) 00000-0000" formControlName="phone" placeholder="(00) 00000-0000"/>

        <div
          *ngIf="
            cadastroForm.get('phone')?.touched &&
            cadastroForm.get('phone')?.invalid
          "
        >
          <small *ngIf="cadastroForm.get('phone')?.errors?.['required']"
            > O telefone deve conter 11 dígitos.</small
          >
        </div>
      </ng-container>

      <!-- Botão -->
      <div class="modal-button">
        <button type="submit" class="submit-button">CONCLUÍDO</button>
      </div>
    </form>
  </div>

  <app-sucess *ngIf="showSuccessModal"></app-sucess>
</div>
