<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <button class="close-button">✖</button>
      <h2>Cadastro</h2>
    </div>

    <form class="modal-form">
      <label>ID Produto</label>
      <input type="text" />

      <label>Descrição</label>
      <input type="text" />

      <label>Preço Unid.</label>
      <input type="text" />

      <label>Estoque Mínimo</label>
      <input type="text" />

      <label>Estoque Máximo</label>
      <input type="text" />

      <div class="modal-button">
        <button type="submit" class="submit-button">CONCLUÍDO</button>
      </div>
    </form>
  </div>
</div>
