.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #FFD700;
  height: 80px;
}

.logo {
  width: 250px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

